<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http.//www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">

        <title>TechShop</title>

    </head>
    <body>

        <section th:fragment="listadoArticulos" id="articulos">

            <div class="container">

                <div class="row row-cols-2">

                    <h2 class="inline" th:text="#{index.titulo}"> Nuestros Articulos </h2>       

                    <div id="resultsBlock">

                    </div>

                </div>

                <div class="row row-cols-3" 
                     th:if="${articulos != null and !articulos.empty}">

                    <div class="card" th:each="articulo : ${articulos}">

                        <div class="card-body">

                            <h5 class="card-title"> [[${articulo.descripcion}]] </h5>

                            <figure>

                                <img th:src="@{${articulo.rutaImagen}}" width="120"/>

                                <figcaption>

                                    [[${new java.text.DecimalFormat('¢#,##0.00').format(articulo.precio) +' ('+articulo.existencias+')'}]] 

                                </figcaption>

                            </figure>

                            <form>

                                <input type="hidden" name="texto" th:values="${articulo.idArticulo}"/>
                                <input type="hidden" name="texto" th:values="${articulo.existencias}"/>

                                <buttom class="btn btn-light"
                                        id="addCar"
                                        name="addCar"
                                        onclick="addCard(this.form)"
                                        type="button">

                                    <i class="fas fa-cart-plus"></i>

                                </buttom>

                            </form>

                            <p class="card-text"> [[${articulo.detalle}]] </p>

                        </div>

                    </div>

                </div>

                <div th:if="${articulos == null and articulos.empty}">

                    [[#{articulo.no_mostrar}]] 

                </div>

            </div>

            <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">

                <form action="/carrito/listado">

                    <button
                        type="submit"
                        class="btn btn-primary">

                        <i class="fas fa-cart-plus"></i> [[#{carrito.verCarrito}]] [[${listaTotal}]]

                </form>

            </div>

        </section>        

    </body>
</html>
